:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #E2E2E2;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}